<a href="https://colab.research.google.com/github/marksumanting/y2math/blob/master/Y2T13_Averages_of_Statistical_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Find the mean of n numbers
import random

n = 10
numbers = []

for i in range(n):
  numbers.append(random.randint(1,100))

total = 0
for number in numbers:
  total += number
print(numbers)
print(total / n)

[69, 99, 48, 75, 58, 43, 54, 2, 65, 51]
56.4

In [0]:
# Find the mean of n numbers
import random

n = 10
numbers = []

for i in range(n):
  numbers.append(random.random() * 100) # [0 to 1)

total = 0
for number in numbers:
  total += number
print(numbers)
print(total / n)

[4.622499169173489, 92.46637394720771, 14.541904814863882, 81.75464082443975, 13.58526446108993, 96.8527222766023, 31.96593111084787, 17.874242717549148, 74.22944663275807, 47.22983378503748]
47.51228597395696

In [0]:
# The mean of 34, 23, 65, x, 91 is 52. Find x.
mean = 52
known_numbers = [34, 23, 65, 91]
total = mean * 5
for num in known_numbers:
  total -= num
print(total)

47

In [0]:
# calculate mean salary
weekly_salaries = [1000, 1100, 1200, 2100, 2500]
num_employees = [20, 8, 10, 7, 5]

print("Total number of employees:", sum(num_employees))

total_salaries = 0
for i in range(len(weekly_salaries)):
  total_salaries += weekly_salaries[i] * num_employees[i]
print("Total salary paid:", total_salaries)

print("Mean weekly salary:", total_salaries / sum(num_employees))

Total number of employees: 50
Total salary paid: 68000
Mean weekly salary: 1360.0

In [0]:
# Find median of n numbers
A = [4, 1, 5, 6, 2, 5]

def def quicksort(elements):
if len(elements) == 0:
return []
else:
return quicksort([i for i in elements[1:] if i < elements[0]]) + [elements[0]] + quicksort([i for i in elements[1:] if i >= elements[0]])
quicksort(A)
print(A)
mid = len(A) // 2
if len(A) % 2 == 0:
  median = (A[mid-1] + A[mid]) / 2
else: # odd
  median = A[mid]
print(median)

[1, 2, 4, 5, 5, 6]
4.5

In [0]:
# Find mode of n numbers

# pls add me